{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'income'%}">Income</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit Income
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <form action="{% url 'income-delete' income.pk %}" method="post">
        {% csrf_token %}
        <button type="submit"
        class="btn btn-danger btn-sm"
        >Delete</button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'income-edit' income.id %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          {{ form.amount }}
        </div>
        <div class="form-group">
          <label for="">Description</label>
          {{ form.description }}
        </div>
        <div class="form-group">
          <label for="">Source</label>
          {{ form.source }}
        </div>
        <div class="form-group">
          <label for="">Date of Income</label>
          {{ form.date }}
        </div>

        <input
          type="submit"
          value="Save"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}